/* 드로우 메뉴 시작 */
.drawer-menu{
    background-color:#00000055;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    zIndex:1000;
}

.drawer-close{
    position:absolute;
    right:0;
    margin-right:10px;
    margin-top:10px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
}
.left-profile{
    width:100%;
    margin-top:-16px;
}
.left-profile ul{
    height:180px;
    background-color: #3a61c1;
    padding:0px;
}
.left-profile ul li{
    list-style: none;
    text-align:center;
}

.left-profile ul li a{
    color:#fff;
    text-decoration: none !important;
    padding:5px
}
.left-profile ul li:first-child{
    height:100px;
    text-align:center;
    padding: 10px;
}

.profile-photo{
    background-color: #fff;
    width:100px;
    height:100px;
    border-radius: 50%;
    margin:0 auto;
    overflow: hidden;

}
.MuiDrawer-paperAnchorDockedLeft{
    border-right:0px !important;
}
/* 로그인 폼 시작 */
.loginForm{
    border:1px solid #ccc;
    margin:0 auto;
    width:320px;
    height:300px;
    border-radius:10px;
    box-shadow: 0px 0px 1px 0px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
}

.login-btn{
    width:90%;
    color:#fff !important;
    background-color:#2196f3 !important;
}

/* 회원가입 폼 시작 */
.registerForm{
    border:1px solid #ccc;
    margin:0 auto;
    width:90%;
    padding:20px;
    border-radius:10px;
    box-shadow: 0px 0px 1px 0px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
}

.left-menu ul li{
    list-style: none;
    padding:5px;
}

.table{
    width:100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

.table thead th{
    background-color: #0084ff;
    padding:10px;
    color:#fff;
    border-spacing: 0px;
    border:1px solid #9fb9ff;
    border-collapse: collapse;
}

.table tbody td{
    border-bottom:1px solid #ccc;
    padding:10px;
    text-align:left;
}

.text-center{
    text-align:center;
}

.grid-box{
    border:1px solid #ccc;
    box-shadow: 3px 3px 3px #ccc;
    padding:10px;
    margin:0px;
    vertical-align: top;
    border-radius: 5px;
}

.btn-blue{
    background-color: #2196f3 !important;
    color:#fff !important;
}

.board-list{
    border:1px solid #ccc;
    margin:10px;
    width:calc(100% - 40px);
    height:150px;
    border-radius: 5px;
    box-shadow: 5px 3px 5px 0px #ccc;
    padding:10px
}

.board-list-subject{
    text-align: left;
    font-weight: bold;
    color:#000;
    font-size: 20px;
    width:90%;
    overflow-x:hidden;
    overflow-y:hidden;
    height:30px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.board-list-content{
    height: 108px;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}


.board-list-writer,.board-list-date{
    color:#999;
    font-size:12px;
}
.board-list-writer{
    float:left;
    margin-right:10px;
}
.board-list-date{
    float:left;
    padding-top:3px;
}

.board-view{
    width:90%;
    margin:0 auto;
}

.board-view-subject{
    font-size:20px;
    font-weight: bold;
    padding:5px 5px 10px 5px;
    border-bottom: 1px solid #ccc;
    width:100%;
    float:left;
}
.board-view-info{
    padding:10px;
    width:100%;
    border-bottom: 1px solid #ccc;
    float:left
}
.board-view-writer{
    float:left;
    color:#333
}
.board-view-date{
    float:left;
    color: #c0c0c0;
    padding-left:20px;
    padding-top:3px;
}

.board-view-content{
    float:left;
    width:100%;
    padding:20px;
}
.board-view-btn{
    text-align: right;
    float:left;
    width:100%;
}

.comment{
    border:1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    float:left;
    width:100%;
    margin-top:20px;
    padding:20px;
    overflow: hidden;
    height:auto;
}

.comment-list{
    border:1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    float:left;
    width:98%;
    margin-top:20px;
    padding:20px;
    overflow: hidden;
    height:auto;
}
.comment-form{
    border:1px solid #ccc;
    border-radius: 10px;
    width:99%;
    height:100px;
    padding:10px;
}

.comment-title{
    height:50px;
    border-bottom:1px solid #ccc;
    padding-bottom: 10px;
}
.comment-user-profile{
    border:1px solid #ccc;
    width:50px;
    height:50px;
    overflow:hidden;
    border-radius: 50%;
    float:left;
}
.comment-user-profile img{
    width:50px;
    height:50px;
}
.comment-user{
    width:calc(100% - 65px);
    margin-left:10px;
    float:left;
}
.comment-user-name{
    font-weight:bold;
    font-size:14px;
    color:#333333;
}

.comment-creatAt{
    color:#ccc;
    font-size:12px;
}
.comment-content{
    padding:10px;
}

.paging{
    float:left;
    width:90%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

ul.pagination li:first-child{
    border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
}

ul.pagination li a {
    text-decoration: none;
    color: #337ab7;
    font-size: 1rem;
}

ul.pagination li.active a {
    color: white;
}

ul.pagination li.active {
    background-color: #337ab7;
}

ul.pagination li a:hover,
ul.pagination li a.active {
    color: blue;
}

.page-selection {
    width: 48px;
    height: 30px;
    color: #337ab7;
}

.comment-btn{
    text-align:right
}